html {
  font-size: 62.5%;
  font-family: 'Work Sans', sans-serif;
}

ul {
  list-style-type: none;
}

a {
    text-decoration: none !important;
    color: inherit;
}

#page {
  opacity: 1;
  transition: 0.5s;
}

#page.fade-out {
  opacity: 0;
  transition: none;
}

.title {
  display: inline-block;
  position: absolute;
  top: 2vh;
  left: 8vw;
  font-weight: 300;
  font-size: 2.3rem;
}

.header-menu-container {
  display: inline-block;
  float: right;
  padding-right: 5rem;
  padding-top: 2.5rem;
}

.header-menu {
  padding-left: 0;
}

.header-menu li {
  display: inline-block;
  padding-left: 2.5rem;
  font-size: 1.4rem;
  color: #E8E8E8;
  transition: 0.3s;
}

.header-menu li:hover {
  color: black;
}

.image-wrapper {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 84vw;
}

.index-image {
  background-image: url(dive.gif);
  background-size: cover;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 500px) {
  .image-wrapper {
    width: 78vw;
  }

  .header-menu-container {
    display: none;
  }

  .hamburger {
    display: inline;
    font-size: 2rem;
    position: absolute;
    top: 5vh;
    left: 85vw;
    color: #E8E8E8;
    transition: 0.3s;
  }

  .hamburger:hover {
    color: black;
  }

  .cross {
    font-size: 2rem;
    position: absolute;
    top: 5vh;
    left: 85vw;
    color: black;
  }

  .mobile-menu {
    position: absolute;
    top: 8vh;
    right: 9vw;
    font-size: 1.5rem;
    line-height: 2.3rem;
    z-index: 100;
    text-align: right;

  }
}

/* <---------------------works----------------------> */

.works-container {
  font-size: 0;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 84vw;
  margin: auto;
}

.work-container {
  position: relative;
  height: 20vh;
  width: 16vw;
  display: inline-block;
  margin: 2.5vw;
  /* border: none !important; */
  text-align: center;
}

.work-container-overlay {
  height: 100%;
  width: 100%;
  /* padding: 15%; */
  background-color: rgba(255,255,255,0.1);
  transition: 0.3s;
}

/* .work-title-container{
  z-index: 1000;
} */

.work-descr-container {
  display: none;
}

.work-title-container, .work-descr-container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .work-title-container h2 {
  font-size: 2rem;
  font-weight: 600;
} */

.work-descr-container p {
  font-size: 1.5rem;
  line-height: 2.3rem;
  padding: 0 2.5vw;
  text-transform: uppercase;
}

#dive {
  background-image: url(dive.gif);
  background-size: cover;
  background-position: center;
}

#jimmio {
  background-image: url(jimmio.jpg);
  background-size: cover;
  background-position: center;
}

#fetop {
  background-image: url(fetop.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bubbleway {
  background-image: url(bubbleway.jpg);
  background-size: cover;
  background-position: center;
}

#conservatory {
  background-image: url(conservatory.gif);
  background-size: cover;
  background-position: center;
}

#study {
  background-image: url(study.gif);
  background-size: cover;
  background-position: center;
}

#time {
  background-image: url(time.jpg);
  background-size: cover;
}

#book {
  background-image: url(book.jpg);
  background-size: cover;
}

/* <---------------------(each work common styles)----------------------> */

.work-image {
  object-fit: cover;
}

.work-title-vline {
  display: inline-block;
  margin-left: 10vw;
  margin-top: 95vh;
  width: 3px;
  height: 7rem;
  background-color: #E8E8E8;
}

.work-text {
  display: inline-block;
  margin-left: 2vw;
  margin-top: 95vh;
}

.work-text h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.work-text h3 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.work-overview {
  margin-top: 20vh;
  margin-left: 12vw;
}

.work-overview p {
  font-size: 1.7rem;
}

.bold {
  font-weight: 600;
}

.work-image-1, .work-image-2 {
  display: inline-block;
  height: 35vh;
  width: 38vw;
  margin: 5vw;
}


/* <---------------------work_7----------------------> */



/* <---------------------about----------------------> */

.about-container {
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45vw;
  height: auto;
  font-size: 2rem;
  line-height: 3rem;
}

@media screen and (max-width: 500px) {
  .about-container {
    width: 60vw;
    font-size: 1.5rem;
    line-height: 2.8rem;
    left: 51%;
  }
}
/* <---------------------contact----------------------> */

.contact-container {
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fab, .far {
  font-size: 4rem;
  padding: 1.5vw;
  color: #E8E8E8;
  transition: 0.3s;
}

.fab:hover, .far:hover {
  color: black;
}
